# Variáveis de ambiente para Turso
TURSO_CONNECTION_URL=libsql://clear-sky-salvatore24213.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=seu_token_aqui
JWT_SECRET=ECO_LAB_SECURE_2026
PORT=3000
NODE_ENV=production
